In [2]:
import pandas as pd
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
from statistics import median

In [3]:
iris = datasets.load_iris()

In [4]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [5]:
iris["data"][:10,:]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [6]:
iris["target"]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
iris["target_names"]

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
iris["feature_names"]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [9]:
X = iris["data"]
y = iris["target"]
N = y.shape[0]

In [10]:
tab = pd.DataFrame(columns=["Iris Setosa", "Iris Versicolor", "Iris Virginica", "Total"]
                   , index=["N", "MEAN", "MIN", "MEDIAN", "MAX", "STD", 
                            "<3", ">=3 AND <3.5", ">=3.5 AND <4"])

In [11]:
tab.loc["N"]["Iris Setosa"] = X[y == 0].shape[0]
tab.loc["N"]["Iris Versicolor"] = X[y == 1].shape[0]
tab.loc["N"]["Iris Virginica"] = X[y == 2].shape[0]
tab.loc["N"]["Total"] = X.shape[0]

In [12]:
tab.loc["MEAN"]["Iris Setosa"] = round(X[y == 0, 1].mean(), 2)
tab.loc["MEAN"]["Iris Versicolor"] = round(X[y == 1, 1].mean(), 2)
tab.loc["MEAN"]["Iris Virginica"] = round(X[y == 2, 1].mean(), 2)
tab.loc["MEAN"]["Total"] = round(X[:,1].mean(),2 )

In [13]:
tab.loc["MIN"]["Iris Setosa"] = X[y == 0, 1].min()
tab.loc["MIN"]["Iris Versicolor"] = X[y == 1, 1].min()
tab.loc["MIN"]["Iris Virginica"] = X[y == 2, 1].min()
tab.loc["MIN"]["Total"] = X[:,1].min()

In [14]:
tab.loc["MEDIAN"]["Iris Setosa"] = round(median(X[y == 0, 1]), 2)
tab.loc["MEDIAN"]["Iris Versicolor"] = round(median(X[y == 1, 1]), 2)
tab.loc["MEDIAN"]["Iris Virginica"] = round(median(X[y == 2, 1]), 2)
tab.loc["MEDIAN"]["Total"] = round(median(X[:,1]), 2)

In [15]:
tab.loc["MAX"]["Iris Setosa"] = X[y == 0, 1].max()
tab.loc["MAX"]["Iris Versicolor"] = X[y == 1, 1].max()
tab.loc["MAX"]["Iris Virginica"] = X[y == 2, 1].max()
tab.loc["MAX"]["Total"] = X[:,1].max()

In [16]:
tab.loc["STD"]["Iris Setosa"] = round(X[y == 0, 1].std(), 2)
tab.loc["STD"]["Iris Versicolor"] = round(X[y == 1, 1].std(), 2)
tab.loc["STD"]["Iris Virginica"] = round(X[y == 2, 1].std(), 2)
tab.loc["STD"]["Total"] = round(X[:,1].std(),2 )

In [17]:
tab.loc["<3"]["Iris Setosa"] = X[(y == 0) & (X[:,1] < 3), 1].shape[0]
tab.loc["<3"]["Iris Versicolor"] = X[(y == 1) & (X[:,1] < 3), 1].shape[0]
tab.loc["<3"]["Iris Virginica"] = X[(y == 2) & (X[:,1] < 3), 1].shape[0]
tab.loc["<3"]["Total"] = X[X[:,1] < 3, 1].shape[0]

In [18]:
tab.loc[">=3 AND <3.5"]["Iris Setosa"] = X[(y == 0) & (X[:,1] >= 3) & (X[:,1] < 3.5), 1].shape[0]
tab.loc[">=3 AND <3.5"]["Iris Versicolor"] = X[(y == 1) & (X[:,1] >= 3) & (X[:,1] < 3.5), 1].shape[0]
tab.loc[">=3 AND <3.5"]["Iris Virginica"] = X[(y == 2) & (X[:,1] >= 3) & (X[:,1] < 3.5), 1].shape[0]
tab.loc[">=3 AND <3.5"]["Total"] = X[(X[:,1] >= 3) & (X[:,1] < 3.5), 1].shape[0]

In [19]:
tab.loc[">=3.5 AND <4"]["Iris Setosa"] = X[(y == 0) & (X[:,1] >= 3.5) & (X[:,1] < 4), 1].shape[0]
tab.loc[">=3.5 AND <4"]["Iris Versicolor"] = X[(y == 1) & (X[:,1] >= 3.5) & (X[:,1] < 4), 1].shape[0]
tab.loc[">=3.5 AND <4"]["Iris Virginica"] = X[(y == 2) & (X[:,1] >= 3.5) & (X[:,1] < 4), 1].shape[0]
tab.loc[">=3.5 AND <4"]["Total"] = X[(X[:,1] >= 3.5) & (X[:,1] < 4), 1].shape[0]

In [20]:
tab.loc["<3"]["Iris Setosa"] = (str(tab.loc["<3"]["Iris Setosa"]) + 
                                " ( " + 
                                str(round(tab.loc["<3"]["Iris Setosa"] / N, 1)) + 
                                " ) ")

tab.loc["<3"]["Iris Versicolor"] = (str(tab.loc["<3"]["Iris Versicolor"]) + 
                                " ( " + 
                                str(round(tab.loc["<3"]["Iris Versicolor"] / N, 1)) + 
                                " ) ")

tab.loc["<3"]["Iris Virginica"] = (str(tab.loc["<3"]["Iris Virginica"]) + 
                                " ( " + 
                                str(round(tab.loc["<3"]["Iris Virginica"] / N, 1)) + 
                                " ) ")

tab.loc["<3"]["Total"] = (str(tab.loc["<3"]["Total"]) + 
                                " ( " + 
                                str(round(tab.loc["<3"]["Total"] / N, 1)) + 
                                " ) ")

In [21]:
tab.loc[">=3 AND <3.5"]["Iris Setosa"] = (str(tab.loc[">=3 AND <3.5"]["Iris Setosa"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3 AND <3.5"]["Iris Setosa"] / N, 1)) + 
                                " ) ")

tab.loc[">=3 AND <3.5"]["Iris Versicolor"] = (str(tab.loc[">=3 AND <3.5"]["Iris Versicolor"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3 AND <3.5"]["Iris Versicolor"] / N, 1)) + 
                                " ) ")

tab.loc[">=3 AND <3.5"]["Iris Virginica"] = (str(tab.loc[">=3 AND <3.5"]["Iris Virginica"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3 AND <3.5"]["Iris Virginica"] / N, 1)) + 
                                " ) ")

tab.loc[">=3 AND <3.5"]["Total"] = (str(tab.loc[">=3 AND <3.5"]["Total"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3 AND <3.5"]["Total"] / N, 1)) + 
                                " ) ")

In [22]:
tab.loc[">=3.5 AND <4"]["Iris Setosa"] = (str(tab.loc[">=3.5 AND <4"]["Iris Setosa"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3.5 AND <4"]["Iris Setosa"] / N, 1)) + 
                                " ) ")

tab.loc[">=3.5 AND <4"]["Iris Versicolor"] = (str(tab.loc[">=3.5 AND <4"]["Iris Versicolor"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3.5 AND <4"]["Iris Versicolor"] / N, 1)) + 
                                " ) ")

tab.loc[">=3.5 AND <4"]["Iris Virginica"] = (str(tab.loc[">=3.5 AND <4"]["Iris Virginica"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3.5 AND <4"]["Iris Virginica"] / N, 1)) + 
                                " ) ")

tab.loc[">=3.5 AND <4"]["Total"] = (str(tab.loc[">=3.5 AND <4"]["Total"]) + 
                                " ( " + 
                                str(round(tab.loc[">=3.5 AND <4"]["Total"] / N, 1)) + 
                                " ) ")

In [23]:
tab

              Iris Setosa Iris Versicolor Iris Virginica        Total
N                      50              50             50          150
MEAN                 3.43            2.77           2.97         3.06
MIN                   2.3               2            2.2            2
MEDIAN                3.4             2.8              3            3
MAX                   4.4             3.4            3.8          4.4
STD                  0.38            0.31           0.32         0.43
<3             2 ( 0.0 )      34 ( 0.2 )     21 ( 0.1 )   57 ( 0.4 )
>=3 AND <3.5  26 ( 0.2 )      16 ( 0.1 )     26 ( 0.2 )   68 ( 0.5 )
>=3.5 AND <4  18 ( 0.1 )       0 ( 0.0 )      3 ( 0.0 )   21 ( 0.1 )

# Простой способ построить менее информативную таблицу но очень быстро

In [57]:
tab1 = pd.DataFrame(columns=["Iris Setosa", "Iris Versicolor", "Iris Virginica", "Total"],
                    index=['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])

In [58]:
tab1["Total"] = pd.DataFrame(X[:,1]).describe()
tab1["Iris Setosa"] = pd.DataFrame(X[y == 0,1]).describe()
tab1["Iris Versicolor"] = pd.DataFrame(X[y == 1,1]).describe()
tab1["Iris Virginica"] = pd.DataFrame(X[y == 2,1]).describe()

In [64]:
tab1.loc[["count", "mean", "min", "max", "std"]]

       Iris Setosa  Iris Versicolor  Iris Virginica       Total
count    50.000000        50.000000       50.000000  150.000000
mean      3.428000         2.770000        2.974000    3.057333
min       2.300000         2.000000        2.200000    2.000000
max       4.400000         3.400000        3.800000    4.400000
std       0.379064         0.313798        0.322497    0.435866